body {
  font-weight: 400;
}
.logo-top {
  width: 100px;
  height: 40px;
  float: left;
  margin: 0px 0px 5px 80px;
}

.info {
  
  width: 200px;
  height: 40px;
  float: right;
  margin: 20px 10px 5px 20px;
  text-align: right;
}

.adress {
  width: 200px;
  height: 40px;
  float: right;
  margin: 20px 10px 5px 20px;
  text-align: right;
}

.whatsapp-number {
  width: 35px;
  height: 35px;
  float: right;
  margin: 15px 15px 5px 20px;
  background: url(./logo/wa-image-color.png) no-repeat center top / cover;
  transition: 1s ease-in-out;
}
.telegram-number {
  width: 35px;
  height: 35px;
  float: right;
  margin: 15px 15px 5px 20px;
  background: url(./logo/tg-image-color.png) no-repeat center top / cover;
  transition: 1s ease-in-out;
}

.slaider_h {
  color: rgb(229, 229, 229);
	height: 60px;
	width: 50%;
	margin: 30px 0px 10px 0px;
	padding-top: 15px;
	background-color: rgba(8, 82, 35, 0.5);
	text-align: center;
  border-radius: 15px;
}

.class_form {
  padding-top: 3%;
  color: rgb(0, 0, 0);
  font-size: 18;
  text-align: center;
}

.text-3 {
  color: #24552f;
  font-family: arial;
  font-size: 2em;
  text-align: center;
}	